.section-about-us {
    position: relative;
    padding: 55px 0 80px;
   
    &-content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .section-title {
        margin-bottom: 37px;
    }

    .section-description {
        position: relative;
        max-width: 882px;

        @include mobile {
            width: 90%;
        }
    }
    .gradient-left-border::before {
        position: absolute;
        left: -92px;
        top: 72px;
    }
}

.decoration-image-3 {
    background-image: url("../img/decoration-images/image-2.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    height: 46vh;
    width: 150px;

    @include mobile {
        display: none;
    }
  }