.main-footer {
  background-image: url("../img/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 135px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;

  @include mobile {
    padding: 50px 30px;
    flex-direction: column;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(31, 30, 109, 0.5) 0%,
      rgba(17, 112, 151, 0.5) 68.75%,
      rgba(0, 212, 202, 0.5) 100%
    );
  }
}

.footer-slogan {
  max-width: 500px;
  font-weight: 500;
  font-size: 40px;
  color: #fff;
  margin-bottom: 76px;

  @include mobile {
    font-size: 25px;
    margin-bottom: 30px;
  }
}

.footer-contacts-block {
  position: relative;
  z-index: 1;
}

.footer-contacts {
  color: #fff;
  display: block;
  font-size: 20px;
  line-height: 42px;
  text-decoration: none;

}

.icon-contacts {
  margin-top: 20px;
  display: inline-block;
  margin-right: 20px;
}

.footer-buttons {
  display: flex;
  flex-direction: column;

  @include mobile {
    margin-top: 20px;
  }

  img {
    width: 307px;
    margin-bottom: 66px;
  }

  .button {
    margin-bottom: 20px;
  }
}

.copyright {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  font-family: 'Muli', sans-serif;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 1;
}
