.section-goals {
  background-color: #f8fdff;
  padding: 50px 0 55px;
}

.goals-list {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .goal {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 21px;
    line-height: 27px;
    color: #3d3d3d;
    position: relative;

    @include mobile {
        width: 50%;
        text-align: center;
        margin-bottom: 20px;
      }

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 226px;
      height: 228px;
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: 16px;
    }

    .goal-1 {
      background-image: url("../img/goals/goal-1/background.png");
      position: relative;
      top: 9px;
    }
    .goal-2 {
      background-image: url("../img/goals/goal-2/background.png");
      background-position: bottom;
    }
    .goal-3 {
      background-image: url("../img/goals/goal-3/background.png");
    }
    .goal-4 {
      background-image: url("../img/goals/goal-4/background.png");
    }
  }
}

.icon-computer {
  width: 115px;
  height: 115px;
  background-image: url("../img/goals/goal-1/icon.png");
}

.icon-resume {
  width: 100px;
  height: 115px;
  background-image: url("../img/goals/goal-2/icon.png");
}

.icon-data {
  width: 119px;
  height: 117px;
  background-image: url("../img/goals/goal-3/icon.png");
}

.icon-heart {
  width: 117px;
  height: 117px;
  background-image: url("../img/goals/goal-4/icon.png");
}
