.header {
    padding: 10px 0 12px;

    &-logo {
        display: inline-block;
        width: 173px;
        height: 53px;

        img {
            object-fit: cover;
        }
    }

    &-menu {
        display: flex;

        &.show {
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: 2;
            right: 0;
            top: 50px;
            background-color: #fff;
            padding-left: 20px;
        }

        @include mobile {
            display: none;
        } 
        li {
            margin-right: 36px;
            a {
                color: #0C1F76;
                font-size: 14px;
                text-transform: uppercase;
                line-height: 45px; 
                font-weight: 700;
                text-decoration: none;          
            }
        }      
    }
}

.burger-menu {
    display: none;

    @include mobile {
        width: 40px;
        height: 40px;
        display: block;
        background-color: #fff;
        border: none;
    }

}