.section-intro {
  height: 622px;
  position: relative;
  background-image: url(../img/section-intro-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 37px;

  @include mobile {
    height: 440px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #1f1e6d 0%, #00d4ca 100%);
    opacity: 0.5;
  }

  &-content {
    height: 100%;
    width: 100%;
    padding-left: 50px;
    padding-top: 105px;
    position: relative;
    z-index: 1;
    color: #ffffff;

    @include mobile {
      padding-top: 50px;
      padding-left: 25px;
    }

    h2 {
      font-weight: normal;
      font-size: 64px;
      line-height: 67px;
      max-width: 685px;

      @include mobile {
        width: 95%;
        text-align: center;
        font-size: 44px;
        line-height: 50px;
      }
    }

    p {
      font-weight: 300;
      font-size: 25px;
      line-height: 45px;
      margin-top: 2px;

      @include mobile {
        text-align: center;
        font-size: 20px;
      }
    }
  }

  .button {
    align-self: center;
    position: relative;
    z-index: 1;
  }
}
