.section-main-goal {
    padding-top: 50px;  
    padding-bottom: 100px;
    
    @include mobile {
        padding-bottom: 50px;
    }
}

.decoration-image-1 {
    background-image: url('../img/decoration-images/image-1.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 55vh;
    width: 40vw;
    position: relative;
    z-index: 1;
    float: left;

    @include mobile {
        display: none;
    }
}

.reasons-list {
    font-size: 21px;
    line-height: 30px;
    margin-top: 83px;

    @include mobile {
        margin-top: 30px;
    }

    li {
        display: flex;
        align-items: center;
        margin-bottom: 45px;
        position: relative;

        @include mobile {
            position: static;
            padding-left: 25px;
        }
 
        &::before {
            content: "\2022"; 
            font-size: 50px;
            color: #00D4CA;
            font-weight: bold; 
            display: inline-block;
            margin-right: 20px;
            position: relative;
            top: 2px;
        }

        &:first-child {
            right: 10%;

        }
        &:nth-child(2) {
            right: 5%;
        }
        &:nth-child(4) {
            right: 5%;
        }
        &:nth-child(5) {
            right: 10%;
        }
   
}

}