.section-participate {
    background-color: #F8FDFF;
    padding: 90px 0;
    position: relative;
    bottom: 50px;

    .section-description {
        text-align: center;
        font-size: 24px;
        line-height: 37px;
        max-width: 892px;
        margin: 29px auto 0;
    }
}