.section-prometheus {
    padding: 40px 0;
    background-image: url('../img/prometheus-section/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.prometheus-content {
    display: flex;
    align-items: center;
    flex-direction: column;
 
    p {
        font-size: 20px;
        line-height: 35px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        max-width: 952px;
        margin-bottom: 34px;
        margin-top: 20px;
        position: relative;
        z-index: 1;
    }
}

.bulb-left {
    position: absolute;
    left: 0;
}

.bulb-right {
    position: absolute;
    right: 0;
}

.bulb-bottom {
    position: absolute;
    bottom: -29%;
    left: 17%;

    @include mobile {
        display: none;
    }
}

.bulb-top{
    position: absolute;
    top: 0;
    right: 15%;
}