.section-steps {
  padding: 62px 0 120px;
  position: relative;

  @include mobile {
    padding: 32px 10px;
  }
}

.steps-list {
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    line-height: 30px;
  }

  h6 {
    color: #00d4ca;
    font-weight: 700;
    margin-bottom: 35px;
    text-align: center;
    align-self: flex-start;
    width: 100%;

    &.arrow {
      padding-left: 42%;
      text-align: left;
      display: flex;
      align-items: center;

      @include mobile {
        padding-left: 9%;
      }
      &:hover::before {
        -webkit-animation-name: bounce;
        animation-name: bounce;
        -webkit-transform-origin: center bottom;
        -ms-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-iteration-count: 3;
      }

      &::before {
        content: "";
        display: block;
        min-width: 65px;
        width: 65px;
        height: 65px;
        background-image: url("../img/steps-arrow.png");
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 23px;
      }
    }
  }

  .steps-description {
    border: 4px solid #00d4ca;
    padding: 26px 100px;
    text-align: center;
    color: #3d3d3d;
    width: 85%;
    margin-bottom: 23px;

    @include mobile {
      padding: 10px;
      width: 100%;
    }
  }
}

.decoration-image-2 {
  background-image: url("../img/decoration-images/image-3.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  height: 65vh;
  width: 200px;

  @include mobile {
    display: none;
  }
}
