@import "header";
@import "intro";
@import "about-us";
@import "goals";
@import "main-goal";
@import "participate";
@import "steps";
@import "prometeus";
@import "partners";
@import "footer";

.section {
  &-title {
    color: #2a3b87;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    text-align: center;

    &.inline-block {
      display: inline-block;
      @include mobile {
        display: block;
      }
    }

    @include mobile {
      font-size: 23px;
    }
  }

  &-description {
    font-size: 21px;
    line-height: 30px;
    color: #3d3d3d;
  }
}
