body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1160px;
    margin: auto;
    width: 95%;
}

.flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-highlighted {
    color: #00D4CA;
    font-weight: 700;
}

.gradient-left-border::before {
    content: "";
    display: block;
    background: linear-gradient(270deg, rgba(42, 59, 135, 0.8) -3.82%, rgba(0, 212, 202, 0.8) 100%);
    transform: rotate(-90deg);
    width: 154px;
    height: 8px;
}

