.button {
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;

    &-small {
        font-weight: 500;
        font-size: 16px;
        line-height: 40px;
        padding: 2px 30px;
        border: 3px solid #ffffff;
    }

    &-big {
        font-family: 'Muli', sans-serif;
        font-weight: 600;
        font-size: 21px;
        line-height: 40px;
        padding: 9px 22px;
        border: 4px solid #ffffff;

        &.green {
            background-color: #00D4CA;
            border: none;
        }
    }

    &.arrow {
        &::after {
            content: "";
            width: 32px;
            height: 19px;
            background-image: url('../img/button-arrow.png');
            margin-top: 17px;
            display: block;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }
    }
}