
$mobile-width: 320px;
$desktop-width: 1024px;

@mixin mobile {
    @media (min-width: #{$mobile-width}) and (max-width: #{$desktop-width - 1px}) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: #{$desktop-width}) {
      @content;
    }
  }