.scroll-to-top-btn {
  background-color: rgba(237, 237, 237, 0.5);
  border: none;
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  z-index: 999;

  @include mobile {
    bottom: 30px;
    right: 30px;
    background-color: rgba(237, 237, 237, 0.8);
  }

  &:hover {
    background-color: rgba(237, 237, 237, 1); 
  }
  
}